<div class="curriculumLevel">
  <div class="curriculumLevel__tab--selected"><p>Beginner</p></div>
  <div class="curriculumLevel__tab"><p>Intermediate</p></div>
  <div class="curriculumLevel__tab"><p>Advanced</p></div>
  <div class="curriculumLevel__content--selected">
    <p>I know bare minimum coding. Starting from scratch.</p>
  </div>

  <div class="curriculumLevel__content">
    <p>I know coding in one programming language. Can build basic applications.</p>
  </div>
  <div class="curriculumLevel__content">
    <p>I am good at coding. I know basic problem solving, data structures, algorithms. Can build basic to advanced
      applications.</p>
  </div>
  <div class="curriculumLevel__content--selected">
    <p class="curriculumLevel__content--white">
      Coming Soon!
    </p>
    <p>44 Week Course</p>
  </div>
  <div class="curriculumLevel__content">
    <p class="curriculumLevel__content--blue">
      Enrolment open
    </p>
    <p>37 Week Course</p>
  </div>
  <div class="curriculumLevel__content">
    <p class="curriculumLevel__content--blue">
      Enrolment open
    </p>
    <p>30 Week Course</p>
  </div>
</div>