<div class="curriculumPath">
  <div class="curriculumPath__block curriculumPath__block--blue">
    <p class="curriculumPath__block--title">
      Introduction to Programming
    </p>
    <ul class="">
      <li>Decision trees & control</li>
      <li>Binary number system</li>
      <li>Strings</li>
      <li>Arithmetic operators</li>
      <li>Loops</li>
    </ul>
  </div>
  <div class="curriculumPath__block curriculumPath__block--purple">
    <p class="curriculumPath__block--title">
      Programming Constructs
    </p>
    <ul>
      <li>Functions</li>
      <li>Recursion</li>
      <li>Pointers</li>
      <li>Structures, Unions & Dynamic Arrays</li>
      <li>Asymptotic notations</li>
    </ul>
  </div>
  <div class="curriculumPath__block curriculumPath__block--orange">
    <p class="curriculumPath__block--title">
      Problem Solving & CS Fundamentals
    </p>
    <ul>
      <li>Time Complexity, Arrays, Strings, Binary Search, 2 Pointers, Recursion, Hashing, Sorting, Bit manipulation</li>
      <li>Stacks, Queues, Linked Lists, Trees, Tries, Heap</li>
      <li>Greedy, DP, Graphs</li>
      <li>DB, OS, and Computer Networks</li>
    </ul>
  </div>

</div>