<div class="curriculum_container">
    <span class="curriculum_container__textHeading">
      <span class="curriculum_container__textHeading--bold">Curriculum</span> is designed to make you a <span class="curriculum_container--textHeading--bold">solid engineer</span>
    </span>
  <div class="curriculum_container__textSubHeading">
    <p>Basis the initial entrance test, students are allowed into
      three sections. The two sections only differ in the
      curriculum on Programming Constructs & Introduction to Programming, all else is the same </p>

  </div>
  <%= render "level" %>

  <br/>
  <%= render "path" %>

</div>