<div class="curriculum_container">
    <span class="curriculum_container__textHeading">
      <span class="curriculum_container__textHeading--bold">Curriculum</span> is designed to make you a <span class="curriculum_container--textHeading--bold">solid engineer</span>
    </span>
  <div class="curriculum_container__textSubHeading">
    <p>Basis the initial entrance test, students are allowed into
      three sections. The two sections only differ in the
      curriculum on Programming Constructs & Introduction to Programming, all else is the same </p>

  </div>
  <div class="curriculumLevel">
    <div class="curriculumLevel__tab--selected"><p>Beginner</p></div>
    <div class="curriculumLevel__tab"><p>Intermediate</p></div>
    <div class="curriculumLevel__tab"><p>Advanced</p></div>
    <div class="curriculumLevel__content--selected">
      <p>I know bare minimum coding. Starting from scratch.</p>
    </div>

    <div class="curriculumLevel__content">
      <p>I know coding in one programming language. Can build basic applications.</p>
    </div>
    <div class="curriculumLevel__content">
      <p>I am good at coding. I know basic problem solving, data structures, algorithms. Can build basic to advanced
        applications.</p>
    </div>
    <div class="curriculumLevel__content--selected">
      <p class="curriculumLevel__content--white">
        Coming Soon!
      </p>
      <p>44 Week Course</p>
    </div>
    <div class="curriculumLevel__content">
      <p class="curriculumLevel__content--blue">
        Enrolment open
      </p>
      <p>37 Week Course</p>
    </div>
    <div class="curriculumLevel__content">
      <p class="curriculumLevel__content--blue">
        Enrolment open
      </p>
      <p>30 Week Course</p>
    </div>
  </div>

  <br/>

  <div class="curriculumPath">
    <div class="curriculumPath__block curriculumPath__block--blue">
      <p class="curriculumPath__block--title">
        Introduction to Programming
      </p>
      <ul class="">
        <li>Decision trees & control</li>
        <li>Binary number system</li>
        <li>Strings</li>
        <li>Arithmetic operators</li>
        <li>Loops</li>
      </ul>
    </div>
    <div class="curriculumPath__block curriculumPath__block--purple">
      <p class="curriculumPath__block--title">
        Programming Constructs
      </p>
      <ul>
        <li>Functions</li>
        <li>Recursion</li>
        <li>Pointers</li>
        <li>Structures, Unions & Dynamic Arrays</li>
        <li>Asymptotic notations</li>
      </ul>
    </div>
    <div class="curriculumPath__block curriculumPath__block--orange">
      <p class="curriculumPath__block--title">
        Problem Solving & CS Fundamentals
      </p>
      <ul>
        <li>Time Complexity, Arrays, Strings, Binary Search, 2 Pointers, Recursion, Hashing, Sorting, Bit manipulation</li>
        <li>Stacks, Queues, Linked Lists, Trees, Tries, Heap</li>
        <li>Greedy, DP, Graphs</li>
        <li>DB, OS, and Computer Networks</li>
      </ul>
    </div>

  </div>
</div>