@import "fonts";
// variable
body {
    font-family: Mulish, sans-serif
}

$background-color: #e7f3ff;
$font-color: #4e5f72;
$mobile-width: 450px;
// mixins

@mixin justifyCenter {
    justify-content: center;
}

@mixin justifyLeft {
    justify-items: left;
}

@mixin alignCenter {
    align-items: center;
}

@mixin alignCenter {
    align-items: center;
}

//classes

.curriculum_container {
    background-color: $background-color;
    display: flex;
    height: 100vh;
    overflow: scroll;
    flex-direction: column;
    padding: 50px;
    margin: 0 auto;
    @include alignCenter;
    @media only screen and (max-width: $mobile-width) {
        width: 95%;

    }

    &__textHeading {
        font-size: 32px;

        &--bold {
            font-weight: bold;
        }
    }

    &__textSubHeading {
        font-size: 24px;
        width: 80%;
        @media (max-width: $mobile-width) {
            width: 95%;

        }

        p {
            text-align: center;
            color: $font-color;
        }
    }
}


.curriculumLevel {
    display: grid;
    grid-template-columns:  33% 33% 34%;
    grid-template-rows: 72px;
    width: 80%;
    background-color: #b7dcff;
    border-radius: 8px;
    margin-top: 20px;
    @media only screen and (max-width: $mobile-width) {
        grid-template-areas: "a b c"
                             "d d d"
                             "e e e";
        width: 95%;
        grid-auto-flow: column ;

    }

    &__tab {
        font-size: 18px;
        text-align: center;
        background-color: white;
        font-weight: bold;

        &:nth-of-type(1) {
            border-radius: 8px 0 0 8px;
        }

        &:nth-of-type(3) {
            border-radius: 0 8px 8px 0;
        }

        @media only screen and (max-width: $mobile-width) {

            grid-template-columns:  33% 33% 34%;

        }

        &--selected {
            font-size: 18px;
            background-color: #0041ca;
            color: white;
            font-weight: bold;
            text-align: center;


            &:nth-of-type(1) {
                border-radius: 8px 0 0 8px;
            }


        }
    }

    &__content {

        font-size: 18px;
        text-align: center;
        align-items: center;
        background-color: #b7dcff;


        color: $font-color;
        padding: 0 20px;

        &:nth-child(9) {
            border-radius: 0 0 8px 0;
        }

        &:nth-child(7) {
            border-radius: 0 0 0 8px;
        }

        &--blue {
            color: #0041ca;
            font-weight: bold;
        }

        &--white {
            color: white;
            font-weight: bold;
        }

        @media only screen and (max-width: $mobile-width) {
            display: none;

        }

        &--selected {
            background-color: #0f8cff;
            font-size: 18px;
            text-align: center;
            color: white;
            padding: 0 20px;

            @media only screen and (max-width: $mobile-width) {
                background-color: #0041ca;

                &:nth-of-type(3) {
                    grid-area: d;
                    background-color: #2E2F30;
                }

                &:nth-of-type(2) {
                    grid-area: e;

                }


            }

            &:nth-child(1) {
                border-radius: 8px 0 0 0;
            }

            &:nth-child(3) {
                border-radius: 0 8px 0 8px;
            }

            &:nth-child(7) {
                border-radius: 0 0 0 8px;
            }

            &:nth-child(9) {
                border-radius: 0 0 8px 0;
            }
        }
    }
}

.curriculumPath {
    width: 80%;
    display: grid;
    grid-template-columns:  30% 30% 30%;
    column-gap: 5%;
    margin-top: 20px;
    @media (max-width: $mobile-width) {
        grid-template-columns:  100%;
        row-gap: 5%;
        width: 95%;

    }

    &__block {
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        color: $font-color;

        &--blue {
            ul {
                list-style: none;
            }

            ul li::before {
                content: "\2022";
                scale: 1;
                color: #006ada;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }

        &--purple {
            ul {
                list-style: none;
            }

            ul li::before {
                content: "\2022";
                color: #9243ce;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }

        &--orange {
            ul {
                list-style: none;
            }

            ul li::before {
                content: "\2022";
                color: #fc9100;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }

        &--title {
            font-size: 24px;
            padding: 0 20px;
        }

    }
}